<main class="main">
    <div class="card container">
        <div>
            <p-button (click)="showDialogCreate()" label="New" />
            <div class="card flex justify-center">
                <p-dialog
                    header="Create acommodation"
                    [modal]="true"
                    [(visible)]="dialogCreate"
                    [style]="{ width: '25rem' }"
                >
                    <form
                        [formGroup]="acommodationForm"
                        (ngSubmit)="handleCreate()"
                    >
                        <div class="flex items-center gap-4 mb-8">
                            <label for="name" class="font-semibold w-24"
                                >Name</label
                            >
                            <input
                                type="text"
                                id="name"
                                class="flex-auto"
                                autocomplete="off"
                                pInputText
                                formControlName="name"
                            />
                        </div>
                        <div class="flex items-center gap-4 mb-8">
                            <label for="country" class="font-semibold w-24"
                                >Country</label
                            >
                            <input
                                pInputText
                                id="country"
                                class="flex-auto"
                                autocomplete="off"
                                formControlName="country"
                            />
                        </div>
                        <div class="flex items-center gap-4 mb-8">
                            <label for="city" class="font-semibold w-24"
                                >City</label
                            >
                            <input
                                pInputText
                                id="city"
                                class="flex-auto"
                                autocomplete="off"
                                formControlName="city"
                            />
                        </div>
                        <div class="flex items-center gap-4 mb-8">
                            <label for="district" class="font-semibold w-24"
                                >District</label
                            >
                            <input
                                pInputText
                                id="district"
                                class="flex-auto"
                                autocomplete="off"
                                formControlName="district"
                            />
                        </div>
                        <div class="flex items-center gap-4 mb-8">
                            <label for="description" class="font-semibold w-24"
                                >Description</label
                            >
                            <input
                                pInputText
                                id="description"
                                class="flex-auto"
                                autocomplete="off"
                                formControlName="description"
                            />
                        </div>
                        <div class="mb-2">
                            <label for="description" class="font-semibold w-24"
                                >Facilities</label
                            >
                        </div>
                        <div
                            class="card flex justify-between gap-4 mb-8"
                            formGroupName="facilities"
                        >
                            <div class="flex items-center">
                                <p-checkbox
                                    inputId="wifi"
                                    [binary]="true"
                                    formControlName="wifi"
                                />
                                <label for="wifi" class="ml-2"> Wifi </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox
                                    inputId="airCondition"
                                    [binary]="true"
                                    formControlName="airCondition"
                                />
                                <label for="airCondition" class="ml-2">
                                    Air Condition
                                </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox
                                    inputId="tv"
                                    [binary]="true"
                                    formControlName="tv"
                                />
                                <label for="tv" class="ml-2"> TV </label>
                            </div>
                        </div>
                        <div class="flex items-center gap-4 mb-8">
                            <label for="googleMap" class="font-semibold w-24"
                                >Google map</label
                            >
                            <input
                                pInputText
                                id="googleMap"
                                class="flex-auto"
                                autocomplete="off"
                                formControlName="googleMap"
                            />
                        </div>
                        <div class="mb-2">
                            <label class="font-semibold">
                                Property Surrounds
                            </label>
                        </div>
                        <div
                            class="card flex justify-between gap-4 mb-8"
                            formGroupName="propertySurrounds"
                        >
                            <div class="flex items-center">
                                <p-checkbox
                                    inputId="restaurant"
                                    [binary]="true"
                                    formControlName="restaurant"
                                />
                                <label for="restaurant" class="ml-2">
                                    Restaurant
                                </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox
                                    inputId="bar"
                                    [binary]="true"
                                    formControlName="bar"
                                />
                                <label for="bar" class="ml-2"> Bar </label>
                            </div>
                        </div>
                        <div class="flex items-center gap-4 mb-8">
                            <label for="rules" class="font-semibold w-24"
                                >Rules</label
                            >
                            <input
                                pInputText
                                id="rules"
                                class="flex-auto"
                                autocomplete="off"
                                formControlName="rules"
                            />
                        </div>
                        <div class="mb-2">
                            <label for="image" class="font-semibold w-24">
                                Image
                            </label>
                        </div>
                        <div class="flex items-center gap-4 mb-8">
                            <p-fileupload
                                accept="image/*"
                                maxFileSize="1000000"
                                (onSelect)="onSelectedFiles($event)"
                                [dt]="customUpload"
                                class="w-full"
                                #fileUploader
                            >
                                <ng-template
                                    #header
                                    let-files
                                    let-chooseCallback="chooseCallback"
                                >
                                    <div
                                        class="flex flex-wrap justify-between items-center flex-1 gap-4"
                                    >
                                        <div class="flex gap-2">
                                            <p-button
                                                (onClick)="
                                                    choose(
                                                        $event,
                                                        chooseCallback
                                                    )
                                                "
                                                icon="pi pi-upload"
                                                label="Choose"
                                            />
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template
                                    #content
                                    let-files
                                    let-removeFileCallback="removeFileCallback"
                                >
                                    <div class="flex flex-col gap-8 pt-4">
                                        <div *ngIf="files?.length > 0">
                                            <div
                                                class="flex flex-wrap gap-4 w-full"
                                            >
                                                <div
                                                    *ngFor="
                                                        let file of files;
                                                        let i = index
                                                    "
                                                    class="p-2 rounded-border flex flex-col border border-surface items-center gap-4 w-full"
                                                >
                                                    <div>
                                                        <img
                                                            role="presentation"
                                                            [alt]="file.name"
                                                            [src]="
                                                                file.objectURL
                                                            "
                                                            width="100"
                                                            height="50"
                                                        />
                                                    </div>
                                                    <span
                                                        class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden"
                                                        >{{ file.name }}</span
                                                    >
                                                    <p-button
                                                        icon="pi pi-times"
                                                        (click)="
                                                            onRemoveTemplatingFile(
                                                                $event,
                                                                file,
                                                                removeFileCallback,
                                                                i
                                                            )
                                                        "
                                                        [outlined]="true"
                                                        [rounded]="true"
                                                        severity="danger"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #file></ng-template>
                                <ng-template #empty>
                                    @if (isOldImage && oldImageName != "" &&
                                    oldImageType != "") {
                                    <div class="flex flex-col gap-8 pt-4">
                                        <div class="flex flex-wrap gap-4">
                                            <div
                                                class="p-8 rounded-border flex flex-col border border-surface items-center gap-4"
                                            >
                                                <div>
                                                    <img
                                                        role="presentation"
                                                        [alt]="oldImageName"
                                                        [src]="
                                                            baseUrl +
                                                            oldImageName
                                                        "
                                                        width="100"
                                                        height="50"
                                                    />
                                                </div>
                                                <span
                                                    class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden"
                                                    >{{ oldImageName }}</span
                                                >
                                                <p-button
                                                    icon="pi pi-times"
                                                    (click)="onRemoveOldImage()"
                                                    [outlined]="true"
                                                    [rounded]="true"
                                                    severity="danger"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    } @else {
                                    <div
                                        class="flex items-center justify-center flex-col"
                                    >
                                        <i
                                            class="pi pi-cloud-upload !border-2 !rounded-full !p-8 !text-4xl !text-muted-color"
                                        ></i>
                                        <p class="mt-6 mb-0">
                                            Drag and drop files to here to
                                            upload.
                                        </p>
                                    </div>
                                    }
                                </ng-template>
                            </p-fileupload>
                        </div>
                        <div class="flex justify-end gap-2">
                            <p-button
                                label="Cancel"
                                severity="secondary"
                                (click)="dialogCreate = false"
                            />
                            <p-button label="Submit" type="submit" />
                        </div>
                    </form>
                </p-dialog>
            </div>
        </div>

        <div>
            <div class="card flex justify-center">
                <p-dialog
                    header="Update acommodation"
                    [modal]="true"
                    [(visible)]="dialogUpdate"
                    [style]="{ width: '25rem' }"
                >
                    <form
                        [formGroup]="acommodationForm"
                        (ngSubmit)="handleUpdate()"
                    >
                        <div class="flex items-center gap-4 mb-4">
                            <label for="name" class="font-semibold w-24"
                                >Name</label
                            >
                            <input
                                type="text"
                                id="name"
                                class="flex-auto"
                                autocomplete="off"
                                pInputText
                                formControlName="name"
                            />
                        </div>
                        <div class="flex items-center gap-4 mb-8">
                            <label for="country" class="font-semibold w-24"
                                >Country</label
                            >
                            <input
                                pInputText
                                id="country"
                                class="flex-auto"
                                autocomplete="off"
                                formControlName="country"
                            />
                        </div>
                        <div class="flex items-center gap-4 mb-8">
                            <label for="city" class="font-semibold w-24"
                                >City</label
                            >
                            <input
                                pInputText
                                id="city"
                                class="flex-auto"
                                autocomplete="off"
                                formControlName="city"
                            />
                        </div>
                        <div class="flex items-center gap-4 mb-8">
                            <label for="district" class="font-semibold w-24"
                                >District</label
                            >
                            <input
                                pInputText
                                id="district"
                                class="flex-auto"
                                autocomplete="off"
                                formControlName="district"
                            />
                        </div>
                        <div class="flex items-center gap-4 mb-8">
                            <label for="description" class="font-semibold w-24"
                                >Description</label
                            >
                            <input
                                pInputText
                                id="description"
                                class="flex-auto"
                                autocomplete="off"
                                formControlName="description"
                            />
                        </div>
                        <div
                            class="card flex justify-between gap-4 mb-8"
                            formGroupName="facilities"
                        >
                            <div class="flex items-center">
                                <p-checkbox
                                    inputId="wifi"
                                    [binary]="true"
                                    formControlName="wifi"
                                />
                                <label for="wifi" class="ml-2"> Wifi </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox
                                    inputId="airCondition"
                                    [binary]="true"
                                    formControlName="airCondition"
                                />
                                <label for="airCondition" class="ml-2">
                                    Air Condition
                                </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox
                                    inputId="tv"
                                    [binary]="true"
                                    formControlName="tv"
                                />
                                <label for="tv" class="ml-2"> TV </label>
                            </div>
                        </div>
                        <div class="flex items-center gap-4 mb-8">
                            <label for="googleMap" class="font-semibold w-24"
                                >Google map</label
                            >
                            <input
                                pInputText
                                id="googleMap"
                                class="flex-auto"
                                autocomplete="off"
                                formControlName="googleMap"
                            />
                        </div>
                        <div
                            class="card flex justify-center gap-4 mb-8"
                            formGroupName="propertySurrounds"
                        >
                            <div class="flex items-center">
                                <p-checkbox
                                    inputId="restaurant"
                                    [binary]="true"
                                    formControlName="restaurant"
                                />
                                <label for="restaurant" class="ml-2">
                                    Restaurant
                                </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox
                                    inputId="bar"
                                    [binary]="true"
                                    formControlName="bar"
                                />
                                <label for="bar" class="ml-2"> Bar </label>
                            </div>
                        </div>
                        <div class="flex items-center gap-4 mb-8">
                            <label for="rules" class="font-semibold w-24"
                                >Rules</label
                            >
                            <input
                                pInputText
                                id="rules"
                                class="flex-auto"
                                autocomplete="off"
                                formControlName="rules"
                            />
                        </div>
                        <div class="mb-2">
                            <label class="font-semibold">Image</label>
                        </div>
                        <div class="gap-4 mb-8">
                            <p-fileupload
                                accept="image/*"
                                maxFileSize="1000000"
                                (onSelect)="onSelectedFiles($event)"
                                [dt]="customUpload"
                                styleClass="w-full"
                            >
                                <ng-template
                                    #header
                                    let-files
                                    let-chooseCallback="chooseCallback"
                                >
                                    <div
                                        class="flex flex-wrap justify-between items-center flex-1 gap-4"
                                    >
                                        <div class="flex gap-2">
                                            <p-button
                                                (onClick)="
                                                    choose(
                                                        $event,
                                                        chooseCallback
                                                    )
                                                "
                                                icon="pi pi-upload"
                                                label="Choose"
                                            />
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template
                                    #content
                                    let-files
                                    let-removeFileCallback="removeFileCallback"
                                >
                                    <div class="flex flex-col gap-8">
                                        <div *ngIf="files?.length > 0">
                                            <div class="flex gap-4">
                                                <div
                                                    *ngFor="
                                                        let file of files;
                                                        let i = index
                                                    "
                                                    class="p-2 w-full rounded-border flex flex-col border border-surface items-center gap-4"
                                                >
                                                    <div>
                                                        <img
                                                            role="presentation"
                                                            [alt]="file.name"
                                                            [src]="
                                                                file.objectURL
                                                            "
                                                            width="100"
                                                            height="50"
                                                        />
                                                    </div>
                                                    <span
                                                        class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden"
                                                        >{{ file.name }}</span
                                                    >
                                                    <p-button
                                                        icon="pi pi-times"
                                                        (click)="
                                                            onRemoveTemplatingFile(
                                                                $event,
                                                                file,
                                                                removeFileCallback,
                                                                i
                                                            )
                                                        "
                                                        [outlined]="true"
                                                        [rounded]="true"
                                                        severity="danger"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #file></ng-template>

                                <ng-template #empty>
                                    @if (isOldImage && oldImageName != "" &&
                                    oldImageType != "") {
                                    <div class="flex flex-col gap-8 pt-4">
                                        <div class="flex flex-wrap gap-4">
                                            <div
                                                class="p-8 rounded-border flex flex-col border border-surface items-center gap-4"
                                            >
                                                <div>
                                                    <img
                                                        role="presentation"
                                                        [alt]="oldImageName"
                                                        [src]="
                                                            baseUrl +
                                                            oldImageName
                                                        "
                                                        width="100"
                                                        height="50"
                                                    />
                                                </div>
                                                <span
                                                    class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden"
                                                    >{{ oldImageName }}</span
                                                >
                                                <p-button
                                                    icon="pi pi-times"
                                                    (click)="onRemoveOldImage()"
                                                    [outlined]="true"
                                                    [rounded]="true"
                                                    severity="danger"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    } @else {
                                    <div
                                        class="flex items-center justify-center flex-col"
                                    >
                                        <i
                                            class="pi pi-cloud-upload !border-2 !rounded-full !p-8 !text-4xl !text-muted-color"
                                        ></i>
                                        <p class="mt-6 mb-0">
                                            Drag and drop files to here to
                                            upload.
                                        </p>
                                    </div>
                                    }
                                </ng-template>
                            </p-fileupload>
                        </div>
                        <div class="flex justify-end gap-2">
                            <p-button
                                label="Cancel"
                                severity="secondary"
                                (click)="dialogUpdate = false"
                            />
                            <p-button label="Submit" type="submit" />
                        </div>
                    </form>
                </p-dialog>
            </div>
        </div>

        <div>
            <p-table
                [value]="accommodations"
                [tableStyle]="{ 'min-width': '50rem' }"
            >
                <ng-template #header>
                    <tr>
                        <th class="whitespace-nowrap">id</th>
                        <th class="whitespace-nowrap">manager id</th>
                        <th class="whitespace-nowrap">name</th>
                        <th class="whitespace-nowrap">city</th>
                        <th class="whitespace-nowrap">country</th>
                        <th class="whitespace-nowrap">district</th>
                        <th class="whitespace-nowrap">image</th>
                        <th class="whitespace-nowrap">description</th>
                        <th class="whitespace-nowrap">rating</th>
                        <th class="whitespace-nowrap">wifi</th>
                        <th class="whitespace-nowrap">air condition</th>
                        <th class="whitespace-nowrap">tv</th>
                        <th class="whitespace-nowrap">google map</th>
                        <th class="whitespace-nowrap">restaurant</th>
                        <th class="whitespace-nowrap">bar</th>
                        <th class="whitespace-nowrap">rules</th>
                        <th class="whitespace-nowrap">actions</th>
                    </tr>
                </ng-template>
                <ng-template #body let-accommodation>
                    <tr>
                        <td class="whitespace-nowrap">
                            {{ accommodation.id }}
                        </td>
                        <td class="whitespace-nowrap">
                            {{ accommodation.managerId }}
                        </td>
                        <td class="whitespace-nowrap">
                            {{ accommodation.name }}
                        </td>
                        <td class="whitespace-nowrap">
                            {{ accommodation.city }}
                        </td>
                        <td class="whitespace-nowrap">
                            {{ accommodation.country }}
                        </td>
                        <td class="whitespace-nowrap">
                            {{ accommodation.district }}
                        </td>
                        <td class="whitespace-nowrap">
                            @if(accommodation.image !== "") {
                            <img
                                src="http://localhost:8080/uploads/{{
                                    accommodation.image
                                }}"
                                alt="Accommodation Image"
                                style="width: 100px; height: auto"
                            />
                            }
                        </td>
                        <td class="whitespace-nowrap">
                            {{ accommodation.description }}
                        </td>
                        <td class="whitespace-nowrap">
                            {{ accommodation.rating }}
                        </td>
                        <td class="whitespace-nowrap">
                            {{ accommodation.facilities.wifi }}
                        </td>
                        <td class="whitespace-nowrap">
                            {{
                                accommodation.facilities.airCondition ?? "wifi"
                            }}
                        </td>
                        <td class="whitespace-nowrap">
                            {{ accommodation.facilities.tv ?? "wifi" }}
                        </td>
                        <td class="whitespace-nowrap">
                            {{ accommodation.googleMap }}
                        </td>
                        <td class="whitespace-nowrap">
                            {{
                                accommodation.propertySurrounds.restaurant ??
                                    "restaurant"
                            }}
                        </td>
                        <td class="whitespace-nowrap">
                            {{ accommodation.propertySurrounds.bar ?? "bar" }}
                        </td>
                        <td class="whitespace-nowrap">
                            {{ accommodation.rules }}
                        </td>
                        <td class="gap-2">
                            <div class="flex items-center gap-2">
                                <p-button
                                    icon="pi pi-pencil"
                                    label="Edit"
                                    (click)="showDialogUpdate(accommodation)"
                                ></p-button>
                                <p-button
                                    icon="pi pi-trash"
                                    severity="danger"
                                    label="Delete"
                                    (click)="
                                        handleDeleteAccommodation(
                                            accommodation.id
                                        )
                                    "
                                ></p-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</main>

<!-- <router-outlet></router-outlet > -->
