<app-navbar />
<main>
    <button style="margin: 10px 0" size="l" tuiButton type="button" (click)="openDialogCreate(createForm)">
        New
    </button>

    <table tuiTable class="table" [columns]="columns" [style.width.%]="100">
        <thead>
            <tr tuiThGroup></tr>
        </thead>

        <tbody tuiTbody>
            @for(manager of managers; track manager.id) {
            <tr tuiTr>
                <td *tuiCell="'Account'" tuiTd>
                    {{ manager.account }}
                </td>
                <td *tuiCell="'User Name'" tuiTd>
                    {{ manager.username }}
                </td>
                <td *tuiCell="'Is Deleted'" tuiTd>
                    {{ manager.is_deleted ? "True" : "False" }}
                </td>
                <td *tuiCell="'Created At'" tuiTd>
                    {{ manager.created_at }}
                </td>
                <td *tuiCell="'Updated At'" tuiTd>
                    {{ manager.updated_at }}
                </td>
                <td *tuiCell="'Action'" tuiTd>
                    <span tuiStatus style="display: flex">
                        <button appearance="primary" iconStart="@tui.pencil" size="xs" tuiIconButton type="button"
                            [style.border-radius.%]="100" [style.background]="'white'" [style.color]="'blue'" 
                            >
                            Edit
                        </button>
                        <button appearance="action" iconStart="@tui.trash" size="xs" tuiIconButton type="button"
                            [style.border-radius.%]="100" [style.color]="'red'">
                            Delete
                        </button>
                    </span>
                </td>
                <td *tuiCell="'Show Accommodation'" tuiTd>
                    <a class="button" target="_blank" [routerLink]="['/admin/manager/',manager.id,'accommodations']">Show</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <ng-template #createForm>
        <form tuiCardLarge [formGroup]="formCreateManger" [style.max-width.rem]="32" [style.padding.px]="5"
            (ngSubmit)="createManager()">
            <tui-textfield>
                <label tuiLabel>Account</label>
                <input formControlName="account" placeholder="Account" tuiTextfield />
                @if(formCreateManger.get('account')?.invalid &&
                formCreateManger.get('account')?.touched) {
                <div>
                    <small class="text-red-500">Account is required</small>
                </div>
                } @if(errorMessage) {account: this.formCreateManger.get('account')?.value || '',
                <div>
                    <small class="text-red-500">{{ errorMessage }}</small>
                </div>
                }
            </tui-textfield>
            <tui-textfield>
                <label tuiLabel>User Name</label>
                <input formControlName="user_name" placeholder="User Name" tuiTextfield />
                @if(formCreateManger.get('user_name')?.invalid &&
                formCreateManger.get('user_name')?.touched) {
                <div>
                    <small class="text-red-500">User name is required</small>
                </div>
                } @if(errorMessage) {
                <div>
                    <small class="text-red-500">{{ errorMessage }}</small>
                </div>
                }
            </tui-textfield>
            <tui-textfield>
                <label tuiLabel>Password</label>
                <input formControlName="password" placeholder="Password" tuiTextfield />
                @if(formCreateManger.get('password')?.invalid &&
                formCreateManger.get('password')?.touched) {
                <div>
                    <small class="text-red-500">Password is required</small>
                </div>
                }
            </tui-textfield>
            <tui-textfield>
                <label tuiLabel>Confirm Password</label>
                <input formControlName="confirm" placeholder="Confirm" tuiTextfield />
                @if(formCreateManger.get('country')?.invalid &&
                formCreateManger.get('country')?.touched) {
                <div>
                    <small class="text-red-500">Country is required</small>
                </div>
                } @if(formCreateManger.errors?.['passwordMismatch'] &&
                formCreateManger.touched) {
                <div>
                    <small class="text-red-500">Passwords do not match</small>
                </div>
                }
            </tui-textfield>

            <button tuiButton type="submit">Submit</button>
        </form>

        <!-- <button tuiButton type="button" (click)="createAccommodation(context)">
            Submit
        </button> -->
    </ng-template>
</main>